<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Great tasks manager</title>
</head>
<body>
  <% @tasks.each do |task|%>
    <ol>
      <li><%= task.title%></li>
      <p><%= task.details %></p>
    <%# == true is not needed, it is already a BOOLEAN also the ('Completed') can go !! %>

      <% if task.completed %>
      <input type="checkbox" class="form-check-input" checked>
      <% else %>
      <input type="checkbox" class="form-check-input">
      <% end %>
    </ol>
  <% end %>
</body>
</html>
